<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Since 2016, I haveve immersed myself in the dynamic field of Agricultural Water Management, 
                        leveraging cutting-edge data from the ground, UAVs, and satellites. My PhD journey honed my expertise in detecting waterlogging 
                        from space—a largely manmade issue in agriculture that can be mitigated through informed, data-driven decisions. The key lies in 
                        adopting innovative production models rooted in diversity: Regenerative Agriculture. In recent years, I have focused on harnessing 
                        satellite data to monitor the transformative potential of Regenerative Agricultural Practices. This work fuels my passion for 
                        demonstrating how a forward-thinking agricultural system can create positive hydrological impacts. But talk alone will not cut it
                        —this is the time for ACTION RESEARCH.
                        
                        That is why my family and I have fully embraced this mission, choosing to live as Agroforestry Farmers in Asturias, Spain. Here, we 
                        bridge theory and practice, living the very principles we advocate for, as we work toward shaping a resilient (agricultural) future.  </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Hydrology in droughtprone region in India</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">MSc thesis and fieldwork on a socio-hydrological framework for 
                                        smallholder farmer in Marathwada, Maharashtra, India. How capitalism drives the
                                        situation of smallholder cotton farmers to an even more precarious situation.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Small-scale Agriculture in Mozambique</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During my time at Research Consultancy FutureWater I was responsible
                                        for the execution of the project Flying Sensors, where UAVs were enabled to assist 
                                        local farmers in Mozambique in their daily agricultural practices.   </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2022</h4>
                                    <h4 class="subheading">Large-scale Agriculture in Mozambique</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During my time at VanderSat I focused on Agricultural applications 
                                        of Satellite Remote Sensing, in particular for irrigation. I lead a project to advance 
                                        Water Productivity with the help of data. The project encouraged me to start a PhD in
                                        observing waterlogging from space. A pressing issue in agriculture, especially in the
                                        sugarcane plantation we studied in Mozambique. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Test</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Join
                                    <br>Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>