<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Since 2016, I have immersed myself in the dynamic field of Agricultural Water Management, 
                        leveraging cutting-edge data from the ground, UAVs, and satellites. A PhD journey deepened my expertise in detecting waterlogging 
                        from space—a largely manmade issue in agriculture that can be mitigated through a different way of agriculture and informed, 
                        data-driven decisions. The key lies in adopting innovative production models rooted in diversity: Regenerative Agriculture Management. 
                        In recent years, I have focused on harnessing satellite data to monitor the transformative potential of Regenerative Agricultural 
                        Management. This work fuels my passion for demonstrating how a forward-thinking agricultural system can create positive hydrological 
                        impacts. But talk alone will not cut it —this is the time for ACTION RESEARCH. <br />
                        <br />
                        That is why my family and I have fully embraced this mission, choosing to live as Agroforestry Farmers in Asturias, Spain. Here, we 
                        bridge theory and practice, living the very principles we advocate for, as we work toward shaping a resilient (agricultural) future.  </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Hydrology in droughtprone region in India</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">MSc thesis and fieldwork on a socio-hydrological framework for 
                                        smallholder farmer in Marathwada, Maharashtra, India. How capitalism drives the
                                        situation of smallholder cotton farmers to an even more precarious situation.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Small-scale Agriculture in Mozambique</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During my time at Research Consultancy FutureWater I was responsible
                                        for the execution of the project Flying Sensors, where UAVs were enabled to assist 
                                        local farmers in Mozambique in their daily agricultural practices. My position was part 
                                        of the <a href="https://www.yepprogrammes.com/"> YEP programmes.</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2022</h4>
                                    <h4 class="subheading">Industrial Agriculture in Mozambique</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During my time at VanderSat I focused on Agricultural applications 
                                        of Satellite Remote Sensing, in particular for irrigation. I lead a project to advance 
                                        Water Productivity with the help of data. The project encouraged me to start a PhD in
                                        observing waterlogging from space. A pressing issue in agriculture, especially in the
                                        sugarcane plantation we studied in Mozambique. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023</h4>
                                    <h4 class="subheading">A doctorate in observing agriculture from space</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In May 2023 I succesfully defended my PhD  
                                        <a href="https://pure.tudelft.nl/ws/portalfiles/portal/150384414/dissertation_den_besten.pdf">"Monitoring 
                                        waterlogging from space - Observations from an irrigated sugarcane plantation."</a>
                                        A very transformative journey on a personal and professional level. Throughout my PhD I worked
                                        as a Remote Sensing Scientist. While sometimes challenging to balance workload, my working 
                                        environment has always been very supportive.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2022-24</h4>
                                    <h4 class="subheading">Global Agriculture from Space</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">VanderSat got aqcuired by Planet in 2022 and so did my job as a Remote Sensing
                                        Scientist. More and more the focus was on building scalable satellite products that could 
                                        be used for any type of agriculture. But it more and more creeped in that I did not want to contribute 
                                        to just any type of agriculture, especially knowing the many environmental problems we face today result from
                                        industrial agriculture.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2024-present</h4>
                                    <h4 class="subheading">Combining Science and Practice</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I concluded in these past years sustainability is not enough. We will not 
                                    secure our ecosystems for future generations by having just a little less negative impact on our
                                    natural surroundings. No, we have to be more radical! Take the change by its roots and go for your
                                    highest future potential. For me this means on a personal level: to step out of my consumerist self
                                    and co-create a community where ecological produce is abundant. And on a professional level: channel
                                    everything I know in co-creating and supporting new regenerative agricultural realities.
                                 </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Join
                                    <br>The
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>