<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Since 2016 I have been working in several companies related to 
                        Agricultural Water Management with the help of data from the ground, UAVs, and satellites. During my 
                        PhD I specialized observing waterlogging from space. In agriculture the occurence of waterlogging is 
                        mostly a manmade adverse phenomena that can be largely prevented by informed decisions based on data
                        and applying radical new production models that thrive on diversity: Regenerative Agriculture. 
                        The last few years I have focussed on the possibility of satellite data to monitor Regenerative 
                        Agricultural Practices. Now I am looking forward to continue my journey to help show the hydrological 
                        impact of our future agricultural system. </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Hydrology in droughtprone region in India</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">MSc thesis and fieldwork on a socio-hydrological framework for 
                                        smallholder farmer in Marathwada, Maharashtra, India. How capitalism drives the
                                        situation of smallholder cotton farmers to an even more precarious situation.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Small-scale Agriculture in Mozambique</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During my time at Research Consultancy FutureWater I was responsible
                                        for the execution of the project Flying Sensors, where UAVs were enabled to assist 
                                        local farmers in Mozambique in their daily practices.   </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Invest
                                    <br>In Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>